/*reset css*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*root html*/
:root {
  --main-color: rgb(76, 89, 180);
  --main-border-radius: 15px;
  --main-border: 1px solid var(--main-color);
  --main-backdrop: blur(4px);
  --main-glassmorphism: rgba(76, 89, 180, 0.31);
  --second-color: rgb(245, 245, 245);
  --second-border: 1px solid var(--second-color);
  --second-glassmorphism: rgba(245, 245, 245, 0.31);
  --p-font-size: 14px;
  --h3-font-size: 24px;
  --h2-font-size: 36px;
  --h1-font-size: 48px;
  --title-font: "Verdana";
  --main-font: "Helvetica";
}

.reveal-viewport {
  background-color: black;
}
.navigate-left > div:nth-child(1) {
  /* background-color: white; */
  color: var(--main-color);
}
.navigate-right > div:nth-child(1) {
  /* background-color: white; */
  color: var(--main-color);
}
.navigate-down > div:nth-child(1) {
  /* background-color: white; */
  color: var(--main-color);
}
.navigate-up > div:nth-child(1) {
  /* background-color: white; */
  color: var(--main-color);
}
section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top:-20px !important;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding:25px;
}
.column {
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.part {
  display: flex;
  justify-content: center;
}
.part h1 {
  color: var(--main-color);
  font-size: 56px;
}
.part h2 {
  color: var(--main-color);
  font-size: 36px;
}
.part li {
  color: white;
  font-size: 36px;
}
.part p {
  color: white;
  font-size: 36px;
}
.part img {
  width: 250px;
  height: 250px;
}

.img {
  width: 600px;
  height: auto;
}
.img > img {
  width: 100%;
  height: 100%;
}
